.theme-color {
    background-color: '#024b91';
    color: '#024b91';

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary:hover {
  background-color: #024b91 !important;
}

.cusor-hand {
    cursor: pointer;
}

h1,
h2,
h3 {
    vertical-align: middle;
}

:root {
    font-size: 95%; /* (62.5/100) * 16px = 10px */
    
  }


  .demo-image-preview {
    position: relative;
    text-align: center;
  }
  
  .demo-image-preview > img {
    width: 768px;
  }
  
  @media(max-width:768px){
    .demo-image-preview > img {
      width: 100%;
    }
  }
  
  /* fullscreen enable by props */
  .demo-image-preview-fullscreen > img {
    width: 100vw;
    height:100vh;
  }

  .scrollBar {
    height: calc(100vh - 200px);
    overflow-y: scroll;
  }