.theme-color {
    background-color: '#024b91';
    color: '#024b91';

}

.btn-primary {
    background-color: '#024b91';
    color: '#024b91';
}

.cusor-hand {
    cursor: pointer;
}

h1,
h2,
h3 {
    vertical-align: middle;
}